<launch>
    <node pkg="dv_ros_visualization" type="visualization_node" name="visualization_node" clear_params="true" output="screen">
        <remap from="/visualization_node/events" to="/capture_node/events" />
    </node>

     <node pkg="rqt_gui" type="rqt_gui" name="gui"
          args="--perspective-file $(find dv_ros_visualization)/launch/rqt/previews_blur.perspective" />

</launch>
